.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 150px 125px 0px 120px;
  color: white;
}
.notes {
 text-align: center;
}
.notes-container {
  box-shadow: 0 0 50px 15px beige;
  cursor: pointer;
  padding: 0px 12px 0px 12px;
}
body {
  background-image: url(https://images.unsplash.com/photo-1619973226698-b77a5b5dd14b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  color: white;
  font-size: 24px;
  font-weight: 400;
  font: bold;
}
